
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
}

body {
  margin: 0;
  background-color: #222;
  font-size: 15px;
  color: #fff;
  padding: 0;
  line-height: 1;
  font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', 'Arial'
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img, object {
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

iframe {
  max-width: 100%;
}
  
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: middle;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}
h1 {
  margin-bottom: 6px;
  text-align: center;
  font-size: 100%;
  font-weight: 200;
}
h2 {
  font-size: 300%;
  font-weight: 400;
  color: #fff;
}
h3 {
  font-size: 125%;
  font-weight: 300;
  color: #fff;
}

input {
  background-color: #444;
  border: none;
}

.dashboard_main {
	margin: 0px auto;
}

.gridster {
  margin: 0px auto;
}

.icon-background {
  pointer-events: none;
  width: 100%!important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 1375%;
  text-align: center;
  margin-top: 82px;
}

.list-nostyle {
  list-style: none;
}

.gridster ul {
  list-style: none;
}

.gs-w {
  width: 100%;
  display: table;
  cursor: pointer;
  z-index: auto !important;
}

.iframe {
  position: relative;
  overflow: hidden;  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.widget {
  padding: 0px 0px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: #444444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.title {
  color: #fff;
}

.icon-inactive {
  color: #888;
}

.icon-active {
  color: #aaff00;
}


#container {
  padding-top: 0px;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialogOpen {
	opacity:0.95;
	pointer-events: auto;
}

.modalDialogClose {
	opacity:0;
	pointer-events: none;
}

.modalDialog > div {
	width: 275px;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
}

.modalDialogCloseButton {
	line-height: 50px;
	position: absolute;
	right: -25px;
	text-align: center;
	top: -20px;
	width: 50px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.modalDialogCloseButton:hover { background: #444; }

.widget-baselight-default-group-system-information {
	position: relative;
}

.widget-baselight-default-group-system-information .state_text {
	font-size: 85%;
}

.widget-baselight-default-group-system-information .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-group-system-information .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-group-system-information .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-group-system-information .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-group-system-information .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-group-system-information .level {
	display: inline-block;
}

.widget-baselight-default-group-system-information .unit {
	display: inline-block;
}

.widget-baselight-default-group-system-information .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-group-system-information .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-group-system-information .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-group-system-information .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-group-system-information .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-group-system-information .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baseswitch-default-input-boolean-guest-mode {
	position: relative;
}

.widget-baseswitch-default-input-boolean-guest-mode .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-input-boolean-guest-mode .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-input-boolean-guest-mode .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-input-boolean-guest-mode .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-input-boolean-guest-mode .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baselight-default-group-all-lights {
	position: relative;
}

.widget-baselight-default-group-all-lights .state_text {
	font-size: 85%;
}

.widget-baselight-default-group-all-lights .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-group-all-lights .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-group-all-lights .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-group-all-lights .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-group-all-lights .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-group-all-lights .level {
	display: inline-block;
}

.widget-baselight-default-group-all-lights .unit {
	display: inline-block;
}

.widget-baselight-default-group-all-lights .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-group-all-lights .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-group-all-lights .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-group-all-lights .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-group-all-lights .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-group-all-lights .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baselight-default-group-living-room-lights {
	position: relative;
}

.widget-baselight-default-group-living-room-lights .state_text {
	font-size: 85%;
}

.widget-baselight-default-group-living-room-lights .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-group-living-room-lights .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-group-living-room-lights .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-group-living-room-lights .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-group-living-room-lights .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-group-living-room-lights .level {
	display: inline-block;
}

.widget-baselight-default-group-living-room-lights .unit {
	display: inline-block;
}

.widget-baselight-default-group-living-room-lights .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-group-living-room-lights .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-group-living-room-lights .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-group-living-room-lights .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-group-living-room-lights .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-group-living-room-lights .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baselight-default-group-stairway-lights {
	position: relative;
}

.widget-baselight-default-group-stairway-lights .state_text {
	font-size: 85%;
}

.widget-baselight-default-group-stairway-lights .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-group-stairway-lights .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-group-stairway-lights .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-group-stairway-lights .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-group-stairway-lights .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-group-stairway-lights .level {
	display: inline-block;
}

.widget-baselight-default-group-stairway-lights .unit {
	display: inline-block;
}

.widget-baselight-default-group-stairway-lights .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-group-stairway-lights .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-group-stairway-lights .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-group-stairway-lights .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-group-stairway-lights .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-group-stairway-lights .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baselight-default-group-bedroom-lights {
	position: relative;
}

.widget-baselight-default-group-bedroom-lights .state_text {
	font-size: 85%;
}

.widget-baselight-default-group-bedroom-lights .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-group-bedroom-lights .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-group-bedroom-lights .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-group-bedroom-lights .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-group-bedroom-lights .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-group-bedroom-lights .level {
	display: inline-block;
}

.widget-baselight-default-group-bedroom-lights .unit {
	display: inline-block;
}

.widget-baselight-default-group-bedroom-lights .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-group-bedroom-lights .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-group-bedroom-lights .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-group-bedroom-lights .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-group-bedroom-lights .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-group-bedroom-lights .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baselight-default-light-hue-lightstrip-plus-1 {
	position: relative;
}

.widget-baselight-default-light-hue-lightstrip-plus-1 .state_text {
	font-size: 85%;
}

.widget-baselight-default-light-hue-lightstrip-plus-1 .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-light-hue-lightstrip-plus-1 .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-light-hue-lightstrip-plus-1 .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-light-hue-lightstrip-plus-1 .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-light-hue-lightstrip-plus-1 .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-light-hue-lightstrip-plus-1 .level {
	display: inline-block;
}

.widget-baselight-default-light-hue-lightstrip-plus-1 .unit {
	display: inline-block;
}

.widget-baselight-default-light-hue-lightstrip-plus-1 .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-light-hue-lightstrip-plus-1 .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-light-hue-lightstrip-plus-1 .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-light-hue-lightstrip-plus-1 .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-light-hue-lightstrip-plus-1 .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-light-hue-lightstrip-plus-1 .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baselight-default-light-couch-lamp {
	position: relative;
}

.widget-baselight-default-light-couch-lamp .state_text {
	font-size: 85%;
}

.widget-baselight-default-light-couch-lamp .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-light-couch-lamp .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-light-couch-lamp .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-light-couch-lamp .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-light-couch-lamp .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-light-couch-lamp .level {
	display: inline-block;
}

.widget-baselight-default-light-couch-lamp .unit {
	display: inline-block;
}

.widget-baselight-default-light-couch-lamp .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-light-couch-lamp .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-light-couch-lamp .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-light-couch-lamp .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-light-couch-lamp .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-light-couch-lamp .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baselight-default-light-hue-ambiance-lamp-1 {
	position: relative;
}

.widget-baselight-default-light-hue-ambiance-lamp-1 .state_text {
	font-size: 85%;
}

.widget-baselight-default-light-hue-ambiance-lamp-1 .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-light-hue-ambiance-lamp-1 .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-light-hue-ambiance-lamp-1 .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-light-hue-ambiance-lamp-1 .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-light-hue-ambiance-lamp-1 .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-light-hue-ambiance-lamp-1 .level {
	display: inline-block;
}

.widget-baselight-default-light-hue-ambiance-lamp-1 .unit {
	display: inline-block;
}

.widget-baselight-default-light-hue-ambiance-lamp-1 .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-light-hue-ambiance-lamp-1 .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-light-hue-ambiance-lamp-1 .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-light-hue-ambiance-lamp-1 .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-light-hue-ambiance-lamp-1 .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-light-hue-ambiance-lamp-1 .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baselight-default-light-hue-ambiance-lamp-2 {
	position: relative;
}

.widget-baselight-default-light-hue-ambiance-lamp-2 .state_text {
	font-size: 85%;
}

.widget-baselight-default-light-hue-ambiance-lamp-2 .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-light-hue-ambiance-lamp-2 .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-light-hue-ambiance-lamp-2 .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-light-hue-ambiance-lamp-2 .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-light-hue-ambiance-lamp-2 .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-light-hue-ambiance-lamp-2 .level {
	display: inline-block;
}

.widget-baselight-default-light-hue-ambiance-lamp-2 .unit {
	display: inline-block;
}

.widget-baselight-default-light-hue-ambiance-lamp-2 .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-light-hue-ambiance-lamp-2 .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-light-hue-ambiance-lamp-2 .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-light-hue-ambiance-lamp-2 .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-light-hue-ambiance-lamp-2 .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-light-hue-ambiance-lamp-2 .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baselight-default-light-bedroom-stairway {
	position: relative;
}

.widget-baselight-default-light-bedroom-stairway .state_text {
	font-size: 85%;
}

.widget-baselight-default-light-bedroom-stairway .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-light-bedroom-stairway .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-light-bedroom-stairway .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-light-bedroom-stairway .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-light-bedroom-stairway .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-light-bedroom-stairway .level {
	display: inline-block;
}

.widget-baselight-default-light-bedroom-stairway .unit {
	display: inline-block;
}

.widget-baselight-default-light-bedroom-stairway .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-light-bedroom-stairway .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-light-bedroom-stairway .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-light-bedroom-stairway .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-light-bedroom-stairway .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-light-bedroom-stairway .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baselight-default-light-kristinas-bedroom {
	position: relative;
}

.widget-baselight-default-light-kristinas-bedroom .state_text {
	font-size: 85%;
}

.widget-baselight-default-light-kristinas-bedroom .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-light-kristinas-bedroom .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-light-kristinas-bedroom .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-light-kristinas-bedroom .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-light-kristinas-bedroom .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-light-kristinas-bedroom .level {
	display: inline-block;
}

.widget-baselight-default-light-kristinas-bedroom .unit {
	display: inline-block;
}

.widget-baselight-default-light-kristinas-bedroom .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-light-kristinas-bedroom .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-light-kristinas-bedroom .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-light-kristinas-bedroom .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-light-kristinas-bedroom .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-light-kristinas-bedroom .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baselight-default-light-waldens-bedroom {
	position: relative;
}

.widget-baselight-default-light-waldens-bedroom .state_text {
	font-size: 85%;
}

.widget-baselight-default-light-waldens-bedroom .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-light-waldens-bedroom .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-light-waldens-bedroom .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-light-waldens-bedroom .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-light-waldens-bedroom .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-light-waldens-bedroom .level {
	display: inline-block;
}

.widget-baselight-default-light-waldens-bedroom .unit {
	display: inline-block;
}

.widget-baselight-default-light-waldens-bedroom .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-light-waldens-bedroom .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-light-waldens-bedroom .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-light-waldens-bedroom .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-light-waldens-bedroom .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-light-waldens-bedroom .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
