/* SVG shapes */

svg, svg * {
  vector-effect: non-scaling-stroke !important;
  pointer-events: all !important;
}


/* Hover over */

.entity:hover {
  stroke: #03A9F4 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}


/* Bootstrap succsss */

.success-text {
  fill: #3c763d !important;
}

.success-background, .success-text-background {
  fill: #dff0d8 !important;
  fill-opacity: 1 !important;
  stroke: #d6e9c6 !important;
  stroke-width: 1px !important;
}


/* Bootstrap info */

.info-text {
  fill: #31708f !important;
}

.info-background, .info-text-background {
  fill: #d9edf7 !important;
  fill-opacity: 1 !important;
  stroke: #bce8f1 !important;
  stroke-width: 1px !important;
}


/* Bootstrap warning */

.warning-text {
  fill: #8a6d3b !important;
}

.warning-background, .warning-text-background  {
  fill: #fcf8e3 !important;
  fill-opacity: 1 !important;
  stroke: #faebcc !important;
  stroke-width: 1px !important;
}


/* Bootstrap danger */

.danger-text {
  fill: #a94442 !important;
}

.danger-background, .danger-text-background {
  fill: #f2dede !important;
  fill-opacity: 1 !important;
  stroke: #ebccd1 !important;
  stroke-width: 1px !important;
}


/* Last motion entity */

.last-motion {
  stroke: #808080 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}


/* Alarm Panel */

.alarm-disarmed {
  fill: #3c763d !important;
}

.alarm-armed {
  fill: #8a6d3b !important;
}


/* Camera */

.camera-idle {
/*  fill: #B9CEF7 !important; */
  fill: #6FAECE !important;
}


/* Light */

.light-off {
  fill: #1E1610 !important;
}

.light-on {
  fill: #FFFF3C !important;
}

.light-group-off {
  fill: #FFFFFF !important;
}

.light-on {
  fill: #FFFF01 !important;
}

/* Test light glow */
/*
.light-on .glow {
  visibility: visible;
}

.light-on .inner {
  fill: #FFFF00 !important;
}

.light-off .glow {
  visibility: hidden;
}

.light-off .inner {
  fill: #808080 !important;
}
*/


/* TV */

.tv-off {
  fill: #505050 !important;
  stroke: #505050 !important;
}

.tv-on {
  fill: #FFFF3C !important;
  stroke: #FFFF3C !important;
}


/* Media */

.media-off {
  fill: #EBE9EF !important;
}

.media-on {
  fill: #0FE90F !important;
}


/* Espresso */


.espresso-off {
  fill: #707462 !important;
}

.espresso-on {
  fill: #FFFF3C !important;
}


/* Desktop */

.desktop-off {
  fill: #707462 !important;
}

.desktop-on {
  fill: #FFFF3C !important;
}


/* iKettle */

.ikettle-off {
  fill: #707462 !important;
}

.ikettle-on {
  fill: #FFFF3C !important;
}


/* Living Room Media Power */

.media-off {
  fill: #707462 !important;
}

.media-on {
  fill: #FFFF3C !important;
}


/* Guest Mode */

.guestmode-off {
  fill: #686868 !important;
}

.guestmode-on {
  fill: #3239ff !important;
}


/* Doorbell */

.doorbell-off {
  fill: #C3B7F4 !important;
}

.doorbell-on {
  fill: #F8D2B9 !important;
}

/* Fountain */

.fountain-off {
  fill: #141414 !important;
}

.fountain-on {
  fill: #0CC0FF !important;
}

/* Temperature sensor */

/*
.temp-very-low-background {
  fill: #d9edf7 !important;
  fill-opacity: 1 !important;
}

.temp-below-average-background {
  fill: #dcefe8 !important;
  fill-opacity: 1 !important;
}

.temp-average-background {
  fill: #dff0d8 !important;
  fill-opacity: 1 !important;
}

.temp-very-high-background {
  fill: #f2dede !important;
  fill-opacity: 1 !important;
}
*/


/* Media player */

.squeezebox-off {
  fill: #8AA8A7 !important;
}

.squeezebox-on {
  fill: #2baaa6 !important;
}

/* Presence */

.presence-zone1 {
  fill: #78ED2A !important;
}

.presence-zone2 {
  fill: #FAFF00 !important;
}

.presence-zone3 {
  fill: #436D8C !important;
}

.presence-zone4 {
  fill: #436D8C !important;
}

.presence-zone5 {
  fill: #436D8C !important;
}

.presence-zone6 {
  fill: #436D8C !important;
}

.presence-zone7 {
  fill: #FAFF00 !important;
}

.presence-zone8 {
  fill: #436D8C !important;
}

.presence-zone9 {
  fill: #FAFF00 !important;
}

.presence-zone10 {
  fill: #FAFF00 !important;
}

.presence-away {
  fill: #BAAE8B !important;
}


/* Generic Button */

.generic-button-off {
  fill: #FFFA00 !important;
  fill-opacity: 0 !important;
}

.generic-button-on {
  fill: #FFFA00 !important;
  fill-opacity: 0.25 !important;
}

/* SONOS */

.sonos-off {
  fill: #42373C !important;
  fill-opacity: 0 !important;
}

.sonos-pause {
  fill: #420091 !important;
  fill-opacity: 0.25 !important;
}


/* Battery sensor */

.batt-critical {
  fill: #ff0004 !important;
  fill-opacity: 1 !important;
}

.batt-low {
  fill: #ff9900 !important;
  fill-opacity: 1 !important;
}

.batt-medium {
  fill: #fff200 !important;
  fill-opacity: 1 !important;
}

.batt-ok {
  fill: #00ff00 !important;
  fill-opacity: 1 !important;
}

/* Outdoor Temperature */

.temp-very-low {
  fill: #00a1ff !important;
  fill-opacity: 1 !important;
}

.temp-low {
  fill: #00ddff !important;
  fill-opacity: 1 !important;
}

.temp-good {
  fill: #00c609 !important;
  fill-opacity: 1 !important;
}

.temp-high {
  fill: #ff4c00 !important;
  fill-opacity: 1 !important;
}

/* Intdoor Temperature */

.temp-in-very-low {
  fill: #00a1ff !important;
  fill-opacity: 1 !important;
}

.temp-in-low {
  fill: #00ddff !important;
  fill-opacity: 1 !important;
}

.temp-in-good {
  fill: #00c609 !important;
  fill-opacity: 1 !important;
}

.temp-in-high {
  fill: #ff4c00 !important;
  fill-opacity: 1 !important;
}

/* Hide Layers */

.layer-visible {
  display: initial !important;
}

.layer-hidden {
  display: none !important;
}
